@charset "utf-8";

body {
	background: -moz-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: linear-gradient(#fff, #999);
	font-family: "brandon-grotesque", Times, serif;
	margin: 0;
}

header {
	background-color: #2B1E17;
	width: 100%;
	text-align: center;
	position: relative;
	color: #EEE;
	padding: 8px;	
	font-size: 24px;
	clear: both;
}

#content {
	width: auto;
	height: 100%;
	overflow: auto;
}

div.project {
	width: 25%;
	height: 200px;
	float: left;
	color: white;
	padding: 10px;
}

div.project h1 {
	font-size: 36px;
	display: inline;
}

div.project h1 a {
	color: white;
}

div.project p.description {
	margin: 10px;
}

div.project p.author {
	position: absolute;
	bottom: 0;
	font-weight: bold;
}

div.project:nth-child(2n + 2) { background-color: #66F; }
div.project:nth-child(3n + 3) { background-color: #030; }
div.project:nth-child(4n + 1) { background-color: #900; }


