$red: #E25041;
$green: #61BD6D;
$yellow: #fa8f00;
$purple: #6e4a8b;
$gray: #EFEFEF;

$blue: #3D8EB9;
$lightBlue: lighten($blue, 10%);

$headerHeight: 100px;

body {
    margin: 0 0;
    font-family: 'myriad-pro', sans-serif;
    color: white;

    > header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: $purple;
        padding: 20px 20px;
        float: left;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        h1 {
            font: lighter 48px "proxima-nova";
            margin: 0 0;
            float: left;
        }

        nav {
            float: right;

            .button {
                padding: 20px;
            }
        }
    }
}

a {
    color: white;
}

.button {
    color: black;
    display: inline-block;
    padding: 10px;
    background-color: $gray;
    font-weight: bold;
    cursor: pointer;
    margin: 0 7px;
}

.menu {
    z-index: 2;
    background-color: $lightBlue;
    border-radius: 10px;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 110px;
    right: 25px;
}

#searchResults {
    z-index: 2;
    position: absolute;
    top: 220px;
    right: 25px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 20px;

    table {
        border-collapse: collapse;

        tr {
            cursor: pointer;

            td {
                padding: 5px;

                &:first-child {
                    font-weight: bold;
                }
            }

            &:hover {
                background-color: $lightBlue;
                color: white;
                border-radius: 10px;
            }
        }
    }
}

#fade {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#contactUs {
    z-index: 5;
    background-color: $red;
    box-sizing: border-box;
    padding: 20px;
    width: 30%;
    position: fixed;
    top: 20%;
    left: 50%;
    margin: 0 0 0 -15%;
}

.center {
    text-align: center;
}

input[type=text] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgba(lighten($blue, 50%), 0.3);
    font-size: 18px;
}

main {
    float: left;
    position: fixed;
    top: $headerHeight;
    left: 0;
    height: 100%;
    overflow: auto;
}

$break-small: 320px;
$break-large: 1024px;

@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $break-small) {
            @content;
        }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
            @content;
        }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: $break-large) {
            @content;
        }
    }
}

.project {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

    @include respond-to(handhelds) {
        width: 100%;
    }

    @include respond-to(medium-screens) {
        width: 50%;
    }

    @include respond-to(wide-screens) {
        width: 25%;
    }

    height: 250px;
    overflow: auto;
    padding: 15px;
    float: left;

    &:last-child {
        margin-bottom: $headerHeight;
    }

    header {
        padding: 5px 0;
        font-size: 24px;
        cursor: pointer;
        text-decoration: underline;
    }

    .description {
        font-weight: lighter;
    }

    .author {
        text-align: right;
        font-weight: bold;
        margin: 10px 0;
    }

    &:nth-child(8n + 1) {
        background-color: $red;
    }

    &:nth-child(8n + 2) {
        background-color: $blue;
    }

    &:nth-child(8n + 3) {
        background-color: $yellow;
    }

    &:nth-child(8n + 4) {
        background-color: $green;
    }

    &:nth-child(8n + 5) {
        background-color: $yellow;
    }

    &:nth-child(8n + 6) {
        background-color: $green;
    }

    &:nth-child(8n + 7) {
        background-color: $red;
    }

    &:nth-child(8n + 8) {
        background-color: $blue;
    }
}

.scaleOut {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}
