@charset "utf-8";

body {
	font-family: "brandon-grotesque", Arial, sans-serif;
	margin: 0;
}

header {
	background-color: #2B1E17;
	width: 100%;
	text-align: center;
	position: relative;
	color: #EEE;
	padding: 20px;
	font-family: "garamond-premier-pro-display", Times, serif;
	font-size: 30px;
	font-weight: normal;
	padding: 4px;
	clear: both;
}

#content {
	width: auto;
	height: 100%;
	overflow: auto;
}

div.project {
	width: 25%;
	height: 200px;
	float: left;
	color: white;
	position: relative;
}

div.project * { margin: 20px 10px; } /* this keeps the grid working fine */

div.project h1 {
	font-size: 36px;
	display: inline;
}

div.project h1 a {
	color: white;
}

div.project p.description {
	margin: 10px 30px;
}

div.project p.author {
	position: absolute;
	bottom: 0;
	right: 0px;
	padding: 20px;
	font-weight: bold;
}

div.project:nth-child(6n + 1) { background-color: #e74c3c; } /* red, first one */
div.project:nth-child(2n + 2) { background-color: #2980b9; } /* blue, second one */
div.project:nth-child(3n + 3) { background-color: #16a085; } /* green, third one */
div.project:nth-child(4n + 4) { background-color: #8e44ad; } /* purple, fourth one */
div.project:nth-child(5n + 5) { background-color: #96281B; } /* brown, fifth one */
