@charset "utf-8";

body {
	font-family: "brandon-grotesque", Times, serif;
	margin: 0;
}

#header {
	background-color: #2B1E17;
	width: 100%;
	text-align: center;
	position: relative;
	color: #EEE;
	padding: 5px;
}

#header h1 {
	font-size: 20px;
}

div.project {
	width: 25%;
	display: inline;
	color: white;
	padding: 5px;
}

div.project h1 {
	font-size: 24px;
}