$red: #e74c3c;
$blue: #2980b9;
$brown: #96281B;
$purple: #8e44ad;
$green: #16a085;
$orange: #E67E22;

body {
    margin: 0 0;
    font-family: 'Segoe UI', sans-serif;
}

header {
    padding: 20px 10px;
    float: left;
    width: 100%;
    box-sizing: border-box;

    h1 {
        font-weight: lighter;
        font-size: 48px;
        margin: 0 0;
        float: left;
    }

    nav {
        float: right;
        padding: 10px 0;
    }
}

.button {
    display: inline-block;

    text-decoration: underline;
    cursor: pointer;
}


.menu {
    background-color: $blue;
    border-radius: 5px;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 50px;
    right: 10px;
}

.project {
    box-sizing: border-box;
    width: 25%;
    height: 250px;
    overflow: auto;
    padding: 10px;
    float: left;
    color: white;

    header {
        font-size: 24px;
        cursor: pointer;
        text-decoration: underline;
    }

    .author {
        text-align: right;
        font-weight: bold;
        margin: 3px 0;
    }
}

.project:nth-child(6n + 1) {
    background-color: $red;
}

.project:nth-child(6n + 2) {
    background-color: $blue;
}

.project:nth-child(6n + 3) {
    background-color: $brown;
}

.project:nth-child(6n + 4) {
    background-color: $purple;
}

.project:nth-child(6n + 5) {
    background-color: $green;
}

.project:nth-child(6n + 6) {
    background-color: $orange;
}
